body{
    margin: 0 auto;
}

.container{
    padding: 50px;
}

.container > a{
    cursor: pointer;
    font: 20px bolder;
    color: #303133;
    margin-bottom: 20px;
    display: block;
}

.container > a:hover{
    color: #303133;
}