<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Color Tool</title>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <!-- <link rel="preload" href="https://files.movio.la/movio/font/prod/AlegreyaSans-Medium.ttf" as="font" type="font/ttf" crossorigin=""> -->
    <link rel="stylesheet" href="../style/fonts.css" type="text/css" />
    <link rel="stylesheet" href="../style/main.css">
    <style>

    </style>
</head>

<body>
    <h2>Button</h2>
    <div class="linear-gradient-text" style="width: 300px;height: 50px;line-height: 50px;">
      Create Engaging Videos 10X Faster with AI
    </div>
    <div>
      <button class="ui-button">
        <span>Import PPT/PDF按钮</span>
      </button>


      <button class="ui-button" type="primary">
        <span>Import PPT/PDF按钮2</span>
      </button>
    </div>

</body>
<script>
</script>
</html>