<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Login Web</title>
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/login.css">
</head>
<body>
    <div class="login-box">
        <h2>用户登录</h2>
        <form class="ui-form">
            <input class = "ui-form-input" name="username" placeholder="请输入登录用户名">
            <input class = "ui-form-input" name="password" type="password" placeholder="请输入密码">

            <button class="ui-btn">登录</button>
        </form>
        <div class="link-box clear-fix">
            <a class="ui-link">用户注册</a>
            <a class="ui-link">忘记密码</a>
        </div>

    </div>
</body>
</html>